@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,Montserrat:600i,Lato:100i');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #b6aaf1;
  --color-primary-dark: #7563ca;
  --color-dark-bg: #322a5a;
  --color-dark-text: #dcdce0;
  --color-funky-purple: #9f72d6;
  --color-dark-green: #212724;
  --color-medium-green: #64a785;
  --color-purple-2: #7e87ef;
  --color-light-purple-3: #ab8eca;
  --color-darkest-purple: #262129;
  --color-solid-pink: #bf659b;
  
  --font-sans: "Outfit", "Open Sans", system-ui, sans-serif;
  --font-serif: "Zilla Slab", serif;
}


/* Base Styles */
body {
  font-family: var(--font-sans);
  background-color: var(--color-dark-bg);
  color: var(--color-dark-text);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
